.about {
    margin-top: 10vh;
    max-width: 80rem;
    margin-left: auto;
    margin-right: auto;
    padding: 20px;
}

.about h2 {
    text-align: center;
    font-size: 30px;
    margin-bottom: 5vh;
}

.about__container {
    display: flex;
    justify-content: space-evenly;
    margin-left: auto;
    margin-right: auto;
    align-items: center;
}

.about__content span {
    display: flex;
    gap: 10px;
    padding: 10px;
    align-items: center;
}

.about__num {
    background-color: rgb(155, 169, 206);
    color: var(--bg);
    padding: 10px 15px;
    border-radius: 50%;
}

.about__content span p {
    font-size: 20px;
    font-weight: 700;
}

.about__img {
    width: 30rem;
    height: auto;
}

@media(max-width: 850px) {
    .about {
        max-width: 100%;
    }
    .about__container {
        flex-wrap: wrap-reverse;
    }
    .about__img {
        max-width: 90%;
        margin-top: 20px;
    }
}