.search { 
    margin-top: 5vh;
    max-width: 80rem;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

.search__header {
    font-size: 40px;
    padding: 30px;
}

.search__input {
    padding: 10px;
    font-size: 18px;
    color: var(--gray);
    border: 2px solid var(--bg);
    width: 25rem;
}

.search__btn {
    font-size: 18px;
    background-color: var(--bg);
    color: white;
    padding: 10px 20px;
    border: 2px solid var(--bg);
    cursor: pointer;
}

