.form {
    padding: 20px;
    max-width: 80rem;
    margin-left: auto;
    margin-right: auto;
    margin-top: 5vh;
    box-shadow: 0 10px 20px 0 rgb(0 0 0 / 10%);
    /* box-shadow: 0 15px 15px 0 #F3F3F6; */
}

.form__container {
    background-color: white;
    padding: 30px 35px;
    display: flex;
    flex-direction: column;
    color: black;
}

.form__container h2 {
    font-size: 30px;
    padding: 20px 0;
}

.errorMsg {
    color: #721c24;
    background-color: #f8d7da;
    border-color: #f5c6cb;
    padding: 10px 25px;
    margin-top: 5px;
    margin-bottom: 10px;
    border: 1px solid transparent;
    font-size: 15px;
    display: none;
}

form {
    display: flex;
    justify-content: space-between;
    gap: 15px;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
}

.form__cell {
    display: flex;
    flex-direction: column;
}

.form__label {
    font-size: 20px;
    font-weight: 700;
    padding: 10px 0;
}

.form__cell input, select {
    padding: 10px 0;
    border: none;
    font-size: 15px;
    color: var(--gray);
}

.form__btn {
    padding: 10px 25px;
    font-size: 18px; 
    background-color: var(--bg);
    color: white;
    font-weight: 600;
    border: 1px solid var(--bg);
}

@media(max-width: 850px) {
    .form {
        max-width: 100%;
    }
    form {
        flex-direction: column;
    }
    select option {
        max-width: 70%;
    }
}