.progs {
    margin-top: 10vh;
    max-width: 80rem;
    padding: 20px;
}

.progs__header {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.progs__header h2 {
    font-size: 30px;
    font-weight: 900;   
}

.progs__header p {
    font-size: 16px;
    color: var(--gray);
}

.progs__container {
    margin-top: 5vh;
    display: flex;
    justify-content: center;
    gap: 20px;
    align-items: center;
}

.prog {
    border: 2px solid #F3F3F6;
    box-shadow: 0 10px 10px 0 #F3F3F6;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-align: center;
    align-items: center;
    cursor: pointer;
    min-width: 30%;
    height: 25vh;
}

.prog h1 {
    padding: 10px 15px;
    background-color: #F3F3F6;
    border-radius: 50%;
    font-size: 30px;
}

.prog h3 {
    font-size: 20px;
    font-weight: 600;
    padding: 10px;
}

.prog p {
    font-size: 16px;
    padding: 10px;
    color: var(--gray);
}

.prog h5 {
    font-size: 16px;
    padding: 10px;
    color: var(--bg);
    text-decoration: underline;
}