.reviews {
    margin-top: 10vh;
    max-width: 80rem;
    padding: 20px;
    margin-left: auto;
    margin-right: auto;
}

.reviews__container {
    display: flex;
    justify-content: space-evenly;
    gap: 20px;
    align-items: center;
}

.reviews__content {
    max-width: 30rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.reviews__content h2 {
    font-size: 35px;
    font-weight: 700;
    padding: 10px 0;
}

.reviews__content p {
    color: var(--gray);
    font-size: 16px;
    padding: 10px 0;
}

.reviews__content span {
    display: flex;
    margin-left: auto;
    gap: 25px;
}

.reviews__btn {
    color: var(--bg);
    padding: 10px;
    font-size: 25px;
}