
.muscle__img {
    width: 10rem;
}

.muscle__btn {
    border: none;
    background-color: #fff;
    cursor: pointer;
    max-width: 30rem;
    margin-left: auto;
    margin-right: auto;
}

.muscles__container {
    flex-wrap: nowrap;
    max-width: 80rem;
    border: 3px solid black;
    display: flex;
    overflow-x: scroll;
    padding: 20px;
}